{% extends "admin/change_list.html" %}
{% comment %} {% load admin_list %} {% endcomment %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .custom-results {
            display: flex;
            gap: 8px;
        }
        .custom-results h2 {
            margin-bottom: 8px;
        }
        .custom-results-card {
            padding: 0px !important;
            margin: 0px !important;
        }
        .custom-results-card li {
            margin-bottom: 4px;
            padding: 8px;
            border: 1px solid var(--border-color);
            border-radius: 8px;
            list-style-type: none;
        }
        .custom-results-card .button {
            display: block; 
            padding: 4px 8px; 
            margin-bottom: 0px;
            width: 100%;
        }
        .custom-results-card .buttons {
            display: flex; 
            gap: 4px;
            flex-wrap: wrap;
        }
        .custom-results-card .buttons form {
            flex-grow: 1;
        }
        .custom-results-card-status span img {
            position: relative;
            top: 2px;
        }
        .copy_comment {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: Consolas, monospace;  
            background: var(--button-bg);
            border: none;
            color: var(--button-fg);
            cursor: pointer;
            transition: background 0.15s;
            width: 72px;
            height: 72px;
            border-radius: 72px !important;
            position: fixed;
            right: 32px;
            bottom: 32px;
        }
        h2.category-header {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <button class="copy_comment">
        <div>
            <span>Copy</span>
            <span>comment</span>
        </div>
    </button>

  {{ block.super }}
{% endblock %}

{% block result_list %}
    <form>
        {% include "admin/businesscontact_kanban_change_list_results.html" %}
        <div class="custom-results">
            <form></form>
            {% for category, objects in categorized_results.items %}
            <div>
                <h2 class="category-header" id="category-header-{{category}}">
                    <input type="checkbox" name="checkbox-{{category}}" id="checkbox-{{category}}">
                    <span>{{ objects.verbose_name|title }} ({{objects.items|length}})</span>
                    <div>| max ({{objects.max_length}})</div>
                </h2>
                <ul class="custom-results-card" id="custom-results-card-{{category}}">
                    {% for obj in objects.items %}
                        <li>
                            <span>
                                <input type="checkbox" name="_selected_action" value="{{ obj.id }}" class="action-select action-select-{{category}}" id="action-select-{{category}}-{{ obj.id }}" aria-label="Select this object for an action - ofner">
                                [<a href="{{obj.get_admin_change_url}}">{{ obj.id }}</a>]
                                <a href="{{obj.get_instagram_link}}" target="_blank">{{ obj.username }}</a>
                            </span>
                            <br>
                            <span class="custom-results-card-status">
                                <span>
                                    <i>cmmt</i> ({{obj.comments}}) 
                                </span>
                                <span>
                                    <i>like</i> ({{obj.likes}})
                                </span>
                                <span>
                                    <i>res</i> (<img src="
                                    {% if obj.interaction_responses %}
                                        /static/admin/img/icon-yes.svg
                                    {% else %}
                                        /static/admin/img/icon-no.svg
                                    {% endif %}
                                    " />) 
                                </span>
                            </span>
                            <div class="buttons">
                                <br>
                                {% if objects.next_button and obj.is_tomorrow_or_later %}
                                    {% if category == 'qualified' %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="First interaction" class="button">
                                        <input type="hidden" name="comment_like" value="{{obj.id}}">
                                    </form>
                                    {% endif %}

                                    {% if category == 'interacted' or  category == 'interacted2' %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Second interaction" class="button">
                                        <input type="hidden" name="comment_like" value="{{obj.id}}">
                                    </form>
                                    {% endif %}

                                    {% if category == 'responded' %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="+Interaction" class="button">
                                        <input type="hidden" name="comment_like" value="{{obj.id}}">
                                    </form>
                                    {% endif %}
                                {% endif %}

                                {% if category == 'interacted' or  category == 'interacted2' or category == 'responded' %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Responded" class="button">
                                    <input type="hidden" name="responded" value="{{obj.id}}">
                                </form>
                                {% endif %}

                                {% if category == 'contacted' %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Archived" class="button">
                                    <input type="hidden" name="archived" value="{{obj.id}}">
                                </form>
                                {% endif %}
                            </div>
                        </li>
                    {% empty %}
                        <li>No results found.</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
</form>
{% endblock %}
