{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}

{% if template %}
    <fieldset>
        <div class="inline-heading">MESSAGE</div>
    </fieldset>
    <pre id="rendered-template">{{template}}</pre>
{% endif %}

{% if business_contact.primary_color or business_contact.secondary_color %}
    <div class="submit-row">
        {% if template %}
        <input  class="copy-message" id="copy-message" type="button" value="Copy message">
        {% endif %}
        <input 
            type="submit"
            name="generate_image"
            id="generate_image" 
            value="Generate image" 
        />
    </div>
{% endif %}

{% if business_contact %}

    {% if business_contact.image1 or business_contact.image2 or business_contact.image3 or business_contact.image4 %}
    <fieldset><div class="inline-heading">IMAGES</div></fieldset>
    {% endif %}
    {% if business_contact.image1 %}
    <img class="business_contact_image" height="680" src="{{business_contact.image1.url}}?{% now "U" %}" alt="{{business_contact.name}}">
    {% endif %}
    {% if business_contact.image2 %}
    <img class="business_contact_image" height="680" src="{{business_contact.image2.url}}?{% now "U" %}" alt="{{business_contact.name}}">
    {% endif %}
    {% if business_contact.image3 %}
    <img class="business_contact_image" height="680" src="{{business_contact.image3.url}}?{% now "U" %}" alt="{{business_contact.name}}">
    {% endif %}
    {% if business_contact.image4 %}
    <img class="business_contact_image" height="680" src="{{business_contact.image4.url}}?{% now "U" %}" alt="{{business_contact.name}}">
    {% endif %}
{% endif %}

{{ block.super }}
{% endblock %}