{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}

{% if post and post.image %}
<div class="post-fieldset">Final image</div>
<img width="400" src="{{post.image.url}}?{% now "U" %}" alt="{{post.phrase}}">
{% endif %}

{% if post and post.hashtag and post.phrase %}
<div class="comment" id="comment">
{{post.phrase}}

{{post.hashtag.content}}
</div>
{% endif %}

<div class="submit-row">
    <input  class="copy-comment" id="copy-comment" type="button" value="Copy comment">
    <input 
        type="submit"
        name="preview"
        id="preview" 
        value="Preview image" 
    />
    <input 
        type="submit"
        name="generate_image_post"
        id="generate_image_post" 
        value="Generate image post" 
    />
    <input 
        type="submit"
        name="generate_video"
        id="generate_video" 
        value="Generate video" 
    />
</div>

{{ block.super }}
{% endblock %}

{% block extrastyle %}
{% load static %}
{{ block.super }}
<link href="{% static 'css/admin/post.css' %}?{% now "U" %}" rel="stylesheet">
{% endblock %}
